{%extends 'navigationbar.html'%}
{% load static%}
{% block body %}

<div class="container center" style="margin-top: 50px;" >
    <h2 class="text-center">Contact Us</h2>
    <br><br>
<div class="row">
    <div class="col-lg-3 col-sm-6 a">
        <h4><i class="fa fa-phone-square fa-flip-horizontal" aria-hidden="true"></i> Contact</h4>
        <p><a href = "tel:+91 7395905243">+91 7395905243</a></p>
    </div>
    <div class="col-lg-3 col-sm-6 a">
        <h4><i class="fa fa-envelope" aria-hidden="true"></i> Send Mail</h4>
        <p><a href = "mailto:surendersingh1995nov@gmail.com">surendersingh1995nov@gmail.com</a></p>
    </div>
    <div class="col-lg-3 col-sm-6 a">
        <h4><i class="fa fa-address-card" aria-hidden="true"></i> Office Address</h4>
        <p><a href="http://maps.google.com/maps?q=Agaram+Chennai">Agaram Chennai</a></p>
    </div>
    <div class="col-lg-3 col-sm-6 a">
        <h4><i class="fa fa-address-card" aria-hidden="true"></i> Office Hours</h4>
        <p>8.00 AM to 7.00 PM</p>
    </div>
</div>
</div>
{% endblock %}